<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <title>Heroku Workshop</title>
    <style>
        body {
            background: url("http://codepot.pl/public/img/codepot-header-illustration-medium-up.png") #F4F4F4 no-repeat;
            background-position-y: 150px;
            background-size: cover;
        }

        h1 {
            margin-top: 20px;
            color: #000000;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-md-12 text-center">
        {% block content %}
        {% endblock %}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
